<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifica ticket</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="~{navbar :: navbar ('Ticket')}" ></nav>
    <div class="container" th:object="${ticket}">
        <div  class="row">
            <div class="col-md-8">
                <h1 class="text-center mt-3 mb-4">Creazione ticket</h1>

                <form class="row g-3"  th:action="@{/ticket/edit/${id(id=ticket.id)}}" method="post">
                    <div class="col-md-6">
                        <label for="titolo" class="form-label">Titolo ticket</label>
                        <input type="text" class="form-control" id="titolo" th:field="*{titolo}" th:errorClass="is-invalid">
                        <div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('titolo')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <label for="operatore" class="form-label">Seleziona operatore</label>
                        <select id="operatore" class="form-select" th:field="*{operatore}">
                            <option 
                                    th:each="operatore : ${listOper}"
                                    th:value="${operatore.id}"
                                    th:text="${operatore.email}">
                            </option>
                        </select>
                    </div>
                     <div class="col-md-12">
                        <label for="descrizione" class="form-label">Descrizione problema</label>
                        <textarea class="form-control" id="descrizione" th:field="*{descrizione}" th:errorClass="is-invalid"></textarea>
                        <div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
                            <ul>
                                <li th:each="err : ${#fields.errors('descrizione')}" th:text="${err}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark">Modifica ticket</button>
                        
                    </div>
                </form>
            </div>
            <div class="col-md-4 mt-5 " >
                <div>
                    <h3 class="mt-4">Categorie problema</h3>
                </div>
                <div class="form-check d-flex " th:each=" categoria : ${listCat}">
                    <input class="form-check-input" type="checkbox" th:id="|categoria_${categoria.id}|"
                            th:value="${categoria.id}" th:field="*{categorie}">
                    <label th:for="|categoria_${categoria.id}|" th:text="${categoria.categoria}"></label>
                </div>
            </div>
            
        </div>
    </div>
      
         

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>